
################################################################################
# 開発課
# PHP, Smarty, etc.
################################################################################

templates_c/
templates_c/*

################################################################################
# 運用課
# node_modules, etc.
################################################################################

# Node
node_modules/
bk/

################################################################################
# 各課共通
# OS/IDE生成, 圧縮ファイル, ログファイル, SQLファイル, etc.
################################################################################

# ドットファイル
.*

# ドットファイル例外
!.ht*
!.gitignore

# 画像
# 画像
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.raw
*.webp
*.apng
*.mng
*.tiff
*.tif
*.bmp
*.xbm

# 動画
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mov
*.mpeg
*.mpg
*.ogg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm
var/www/www.fishing-v.jp/https/premium/video/*

# 音声
*.wav
*.mp3
*.wma

# 3DCG
*.3dm
*.max


# OS (Windows)
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OS (Mac)
__MACOSX
thumbs.db

# テンポラリファイル
*.tmp

# キャッシュファイル
*.cache
*.sass-cache

# バックアップファイル
*~
*.orig
*.bak

# 圧縮ファイル
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ログ・ファイル
*.log

# SQLファイル
*.sql

# Office
~$*
*.tmp

# コンパイルされた実行ファイル
*.com
*.class
*.dll
*.exe
*.o
*.so

# IDE, エディタ
.vscode/*
.idea
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
