<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Basic</title>
</head>
<body>
	<div id="app">

		<!-- you can also use only the abbreviation
		例: <button @click="sumar">Sumar 1</button>
		 -->
		 <!-- forma abreviada
				 <form @submit.prevent action="" method="post">
		  -->
		 <form v-on:submit.prevent="submit" action="" method="post">
		 	<h2>que te gusta mas para hacer front?</h2>
		 	<template v-for="curso in cursos">
		 		<curso v-bind:curso="curso" :cursos-seleccionados="cursosSeleccionados"></curso>
		 		<!-- <input v-model="cursosSeleccionados" type="checkbox" :id="curso.value" :value="curso.value">
		 		<label v-bind:for="curso.value">{{curso.nombre}}</label> -->
		 	</template>
			<button type="submit">Enviar</button>
		 </form>
	

	</div>
	<!-- 

		to test you can use in the console
		app.mostrar = false
		the element will dissapear. 


		Utiliza v-if="" para cosas que se tienen que usar desde el principio en el DOM, cuando es por interaccion puedes usar v-show="" que basicamente es display:none en css

	 -->

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script>
	//you cant put 2 etiquetas at the same label, has to be 1 which wrap the others.
	Vue.component('curso', {
		props:['curso', 'cursosSeleccionados'],
		template:`
		<div>
			<input v-model="cursosSeleccionados" type="checkbox" :id="curso.value" :value="curso.value">
			 <label v-bind:for="curso.value">{{curso.nombre}}</label>
		 </div>
		`
	})

	let app = new Vue({
		el: "#app",
		data: {
			cursosSeleccionados:[],
			cursos:[
			{nombre: 'vue.js', value: 'vue'},
			{nombre: 'react.js', value: 'react'},
			{nombre: 'SEO', value: 'SEO'},
			{nombre: 'Node.js', value: 'Node'},
			{nombre: 'anime', value: 'anime'},
			]
		},
		// filters:{
		// 	uppercase: function(str){
		// 		console.log(str)
		// 		return str.toUpperCase();
		// 	}
		// },
		methods:{
			submit: function(){
				console.log("se ejecuta el metodo submit")
				console.log(this.cursosSeleccionados)

			}
		}

	})
	</script>
</body>
</html>





